* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url("../background_christmas.jpg");
    background-size: cover;
    background-color: #cccccc;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.transparent{
    background: rgba(255, 255, 255, 0.5);
    width: auto;
    height: auto;
    margin: 10px;
    animation: transitionIn 1s;

}
.transparenttable{
    background: rgba(255, 255, 255, 0.5);
    width: auto;
    height: auto;
    margin: 10px;
}
.menu{
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #c6e686;
}
.menu ul {
    display: inline-flex;
    margin-top: 35px;
    float: left;
    width: 90%;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: rgb(94, 91, 91);
    cursor: pointer;
}

.logo img {
    width: 50px;
}


.Logout{
    float: right;
    width: 10%;
    position: relative;
    height: 100%;
    margin-top: 35px;
}
.signup-btn {
    padding-left: 30px;
    text-decoration: none;
    color: rgb(94, 91, 91);
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linier-gradient(#42455a, #42455a),
        radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22pxS;
}

.item-list{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    padding: 10px;
    position: relative;
}
.search{
    margin-top: 10%;
}
.item-list td{
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
}

@keyframes transitionIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
 }