body {
   background-image: url("../login-background.jpg");
   background-size: cover;
   background-color: #cccccc;
}

.container {
   margin-top: 15px; 
   animation: transitionIn 1s;
   width: 80%;
}

.title {
   padding-top: 10px;
   text-align: center;
}

.row {
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
   background-color:rgba(255,255,255,0.8);
   text-align: center;
   border-radius: 25px;
}

#form {
   margin-left: auto;
   margin-right: auto;
}

@keyframes transitionIn{
   from {
       opacity: 0;
       transform: rotateX(-10deg);
   }
   to{
       opacity: 1;
       transform: rotateX(0);
   }
}