body{
    background-color:#c6e686;
}

.container {
    text-align: center;
    width: 90%;
}

.row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-img-top {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50vh;
    object-fit: cover;
}