body {
    background-color: #96b753;
}

.container-fluid {
    margin-top: 50px;
    animation: transitionIn 1s;
 }
 
 .row {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 60%;
 }

 @keyframes transitionIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
 }
 